configuration {
  show-icons:         true;
  icon-theme:         "McMojave-circle-blue";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
  columns: 1;
}
