* {
  accent:           #1d71ff;
  background:       #09101c;
  background-light: #101c32;
  background-focus: #162646;
  foreground:       #eaeaea;
  foreground-list:  #eaeaea;
  on:               #21cd5f;
  off:              #ff004b;
}
